<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Harry Potter Inspirations</title>

	<link rel="stylesheet" href="styles/main.css">
</head>
<body>
	<main>
		<h1>Welcome fellow sorcerer</h1>
	</main>
</body>
</html>